body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: black;
    background: url("assets/bg.jpg") no-repeat left center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* Основной контейнер */
.container {
     display: flex;
    height: 100vh;
}

.container::before {
    content: "";
    width: 50%;
}

/* Правая панель */
.right-panel {
    width: 50%;
    max-width: 360px; /* чтобы не растягивалась на больших экранах */
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    position: relative;
    box-sizing: border-box;
}

/* Лого */
.logo {
    font-size: 42px;
    margin-bottom: 15px;
    text-decoration: underline;
}

/* Навигация */
nav a {
    display: block;
    text-decoration: none;
    color: black;
    margin-bottom: 8px;
    font-size: 18px;
}

nav a:hover {
    color: #c26542;
}

/* Профиль */
.profile {
    display: flex;
    margin-top: 20px;
    gap: 10px;
}

.profile img {
     width: 70px;
    height: auto;
    object-fit: contain;
}

/* Updates */
.updates {
    flex: 1;
    border: 1px solid #ccc;
    padding: 5px;
    background: rgba(255,255,255,0.6);
}

.updates-title {
    font-size: 12px;
    margin-bottom: 5px;
    color: #c26542;
}

.updates-list {
    max-height: 70px;
    overflow-y: auto;
    font-size: 12px;
}

/* Приветствие */
.welcome {
    margin-top: 25px;
    border: 1px solid black;
    padding: 15px;
    font-size: 18px;
}

/* Song */
.song {
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

/* Музыка */
.music-player {
    position: fixed;
    top: 10px;
    left: 10px;
}

.counter {
    position: absolute;
    bottom: 50px; /* выше song */
    left: 0;
    right: 0;
    text-align: center;
}

#playBtn {
    background: white;
    border: 1px solid black;
    cursor: pointer;
}
